<h1>{{title}}</h1>

<div id="wrapper">
        <main>
            <ul>
                <li class="active"></li>
            </ul>
            <div id="contentForm">
                <h2>Login</h2>
                <form id="form1" action="" method="post">
                    <input type="text" name="name" id="name" placeholder="Votre nom"/>
                    <input type="text" name="email" id="email" placeholder="Votre adresse e-mail"/>
                    <input type="submit" value="Étape suivante" />
                </form>
            </div>
        </main>
    </div>

<app-users></app-users>

